%div(class="relative overflow-hidden rounded-lg border-2 border-res")
  %a(href="#{url_for portal}" class="cursor-pointer")
    %img(class="min-w-64 w-full h-56 object-cover transform hover:scale-105" src="#{portal.image_url}")
    %div(class="absolute inline-block bottom-0 w-full h-1/3 bg-gradient-to-b from-transparent to-black opacity-75")
    %div(class="absolute inline-block top-0 right-0 mt-4 mr-2 transform hover:scale-105")
      %a(href="https://intel.ingress.com/intel?ll=#{portal.coordinate}&z=17&pll=#{portal.coordinate}" rel="noreferrer noopener" target="_blank" class="rounded-lg px-4 py-2 bg-blue-600 opacity-75 border-2") Intel
    %div(class="absolute inline-block text-white left-0 bottom-0 ml-4 mb-2")
      %div(class="font-medium text-lg tracking-wide")= portal.name
      %div(class="font-light text-sm")= portal.coordinate
    - if current_user.admin?
      %div(class="absolute inline-block text-white right-0 bottom-0 mr-2 mb-2 bg-red-700 bg-opacity-75 px-4 py-1 rounded-lg border-2")
        %div(class="transform hover:scale-105 border-b")= link_to '编辑', edit_portal_path(portal), { class: "" }
        %div(class="transform hover:scale-105 ")= link_to '删除', portal, :method => :delete, :data => { :confirm => '你确定吗?' }